rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isSelf(userID) {
      return signedIn() && request.auth.uid == userID;
    }

    function friendshipDocID(a, b) {
      return a < b ? a + "_" + b : b + "_" + a;
    }

    function areFriends(a, b) {
      return exists(
        /databases/$(database)/documents/friendships/$(friendshipDocID(a, b))
      );
    }

    function isModerator() {
      return signedIn() &&
        (
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.usernameLower == "neilshrestha20061" ||
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.displayNameLower == "phonixdrive"
        );
    }

    function isCampusWideChat(data) {
      return data.sourceKind == "campusGroup" || data.isCampusWide == true;
    }

    function isGroupMessageAlertForSharedChat(targetUserID) {
      return request.resource.data.type == "groupMessage" &&
        request.resource.data.contextID is string &&
        request.resource.data.contextID != "" &&
        exists(/databases/$(database)/documents/groupChats/$(request.resource.data.contextID)) &&
        request.auth.uid in get(/databases/$(database)/documents/groupChats/$(request.resource.data.contextID)).data.memberIDs &&
        targetUserID in get(/databases/$(database)/documents/groupChats/$(request.resource.data.contextID)).data.memberIDs;
    }

    match /users/{userID} {
      allow read: if signedIn();
      allow create: if isSelf(userID);
      allow update: if isSelf(userID) || (
        isModerator() &&
        request.resource.data.diff(resource.data).changedKeys().hasOnly(["feedPosts", "lastFeedPostAt"])
      );
      allow delete: if false;

      match /deviceTokens/{installationID} {
        allow read, create, update, delete: if isSelf(userID);
      }

      match /appBackups/{backupID} {
        allow read, create, update, delete: if isSelf(userID);
      }

      match /calendarShares/{shareID} {
        allow read: if isSelf(userID);
        allow create: if signedIn() &&
          request.resource.data.ownerID == request.auth.uid &&
          areFriends(request.auth.uid, userID);
        allow update: if isSelf(userID) || (
          signedIn() &&
          resource.data.ownerID == request.auth.uid &&
          areFriends(request.auth.uid, userID)
        );
        allow delete: if isSelf(userID) || (
          signedIn() &&
          resource.data.ownerID == request.auth.uid
        );
      }

      match /socialNotifications/{notificationID} {
        allow read: if isSelf(userID);
        allow create: if signedIn() &&
          request.resource.data.senderID == request.auth.uid &&
          (
            areFriends(request.auth.uid, userID) ||
            isGroupMessageAlertForSharedChat(userID)
          );
        allow update: if isSelf(userID) || (
          signedIn() &&
          resource.data.senderID == request.auth.uid &&
          (
            areFriends(request.auth.uid, userID) ||
            (
              resource.data.type == "groupMessage" &&
              resource.data.contextID is string &&
              resource.data.contextID != "" &&
              exists(/databases/$(database)/documents/groupChats/$(resource.data.contextID)) &&
              request.auth.uid in get(/databases/$(database)/documents/groupChats/$(resource.data.contextID)).data.memberIDs &&
              userID in get(/databases/$(database)/documents/groupChats/$(resource.data.contextID)).data.memberIDs
            )
          )
        );
        allow delete: if isSelf(userID) || (
          signedIn() &&
          resource.data.senderID == request.auth.uid
        );
      }
    }

    match /friendRequests/{requestID} {
      allow read: if signedIn() &&
        (resource.data.fromUserID == request.auth.uid || resource.data.toUserID == request.auth.uid);

      allow create: if signedIn() &&
        request.resource.data.fromUserID == request.auth.uid;

      allow update: if signedIn() &&
        resource.data.toUserID == request.auth.uid;

      allow delete: if false;
    }

    match /friendships/{friendshipID} {
      allow read: if signedIn() && request.auth.uid in resource.data.members;
      allow create: if signedIn() && request.auth.uid in request.resource.data.members;
      allow delete: if signedIn() && request.auth.uid in resource.data.members;
      allow update: if false;
    }

    match /friendGroups/{groupID} {
      allow read: if signedIn() && (
        resource.data.ownerID == request.auth.uid ||
        request.auth.uid in resource.data.memberIDs
      );
      allow create: if signedIn() && request.resource.data.ownerID == request.auth.uid;
      allow update: if signedIn() && (
        (
          resource.data.ownerID == request.auth.uid &&
          request.resource.data.ownerID == request.auth.uid
        ) ||
        (
          request.auth.uid in resource.data.memberIDs &&
          request.resource.data.ownerID == resource.data.ownerID &&
          request.resource.data.name == resource.data.name &&
          request.resource.data.createdAt == resource.data.createdAt
        )
      );
      allow delete: if signedIn() && resource.data.ownerID == request.auth.uid;
    }

    match /courseCommunities/{communityID} {
      allow read: if signedIn() && request.auth.uid in resource.data.memberIDs;
      allow create: if signedIn() && request.auth.uid in request.resource.data.memberIDs;
      allow update: if signedIn() && (
        request.auth.uid in resource.data.memberIDs ||
        request.auth.uid in request.resource.data.memberIDs
      );
      allow delete: if false;

      match /comments/{commentID} {
        allow read: if signedIn() &&
          request.auth.uid in get(/databases/$(database)/documents/courseCommunities/$(communityID)).data.memberIDs;
        allow create: if signedIn() &&
          request.resource.data.userID == request.auth.uid &&
          request.auth.uid in get(/databases/$(database)/documents/courseCommunities/$(communityID)).data.memberIDs;
        allow update: if signedIn() &&
          resource.data.userID == request.auth.uid;
        allow delete: if signedIn() && (
          resource.data.userID == request.auth.uid ||
          isModerator()
        );
      }

      match /resources/{resourceID} {
        allow read: if signedIn() &&
          request.auth.uid in get(/databases/$(database)/documents/courseCommunities/$(communityID)).data.memberIDs;
        allow create: if signedIn() &&
          request.resource.data.createdByUserID == request.auth.uid &&
          request.auth.uid in get(/databases/$(database)/documents/courseCommunities/$(communityID)).data.memberIDs;
        allow update: if signedIn() && (
          resource.data.createdByUserID == request.auth.uid ||
          isModerator()
        );
        allow delete: if signedIn() && (
          resource.data.createdByUserID == request.auth.uid ||
          isModerator()
        );
      }
    }

    match /groupChats/{chatID} {
      allow read: if signedIn() && (
        request.auth.uid in resource.data.memberIDs ||
        isCampusWideChat(resource.data)
      );
      allow create: if signedIn() && (
        request.auth.uid in request.resource.data.memberIDs ||
        isCampusWideChat(request.resource.data)
      );
      allow update: if signedIn() && (
        request.auth.uid in request.resource.data.memberIDs ||
        isCampusWideChat(request.resource.data)
      );
      allow delete: if false;

      match /messages/{messageID} {
        allow read: if signedIn() &&
          (
            request.auth.uid in get(/databases/$(database)/documents/groupChats/$(chatID)).data.memberIDs ||
            isCampusWideChat(get(/databases/$(database)/documents/groupChats/$(chatID)).data)
          );
        allow create: if signedIn() &&
          request.resource.data.userID == request.auth.uid &&
          (
            request.auth.uid in get(/databases/$(database)/documents/groupChats/$(chatID)).data.memberIDs ||
            isCampusWideChat(get(/databases/$(database)/documents/groupChats/$(chatID)).data)
          );
        allow update: if false;
        allow delete: if signedIn() && (
          resource.data.userID == request.auth.uid ||
          isModerator()
        );
      }

      match /polls/{pollID} {
        allow read: if signedIn() &&
          (
            request.auth.uid in get(/databases/$(database)/documents/groupChats/$(chatID)).data.memberIDs ||
            isCampusWideChat(get(/databases/$(database)/documents/groupChats/$(chatID)).data)
          );
        allow create: if signedIn() &&
          request.resource.data.createdByUserID == request.auth.uid &&
          (
            request.auth.uid in get(/databases/$(database)/documents/groupChats/$(chatID)).data.memberIDs ||
            isCampusWideChat(get(/databases/$(database)/documents/groupChats/$(chatID)).data)
          );
        allow update: if signedIn() &&
          (
            request.auth.uid in get(/databases/$(database)/documents/groupChats/$(chatID)).data.memberIDs ||
            isCampusWideChat(get(/databases/$(database)/documents/groupChats/$(chatID)).data)
          );
        allow delete: if signedIn() && (
          resource.data.createdByUserID == request.auth.uid ||
          isModerator()
        );
      }
    }

    match /sharedSchedules/{ownerID} {
      allow read: if isSelf(ownerID) || (
        signedIn() &&
        areFriends(request.auth.uid, ownerID) &&
        get(/databases/$(database)/documents/users/$(ownerID)).data.shareSchedule == true
      );
      allow create: if isSelf(ownerID);
      allow update: if isSelf(ownerID);
      allow delete: if isSelf(ownerID);

      match /friendViews/{viewerID} {
        allow read: if isSelf(ownerID) || (
          signedIn() &&
          request.auth.uid == viewerID &&
          areFriends(request.auth.uid, ownerID) &&
          get(/databases/$(database)/documents/users/$(ownerID)).data.shareSchedule == true
        );

        allow create: if isSelf(ownerID);
        allow update: if isSelf(ownerID);
        allow delete: if isSelf(ownerID);
      }
    }
  }
}
